html {
  box-sizing: border-box;
}

:root {
  --basic-white: #FFFFFF;
  --basic-darker-white: #F2F2F2;
  --basic-more-darker-whire: #EBEBEB;
  --basic-blue: #81B3D2;
  --basic-darker-blue: #669EC0;
  --basic-more-darker-blue: #5496BD;
  --basic-black: #000000;
  --basic-lighter-black: #333333;
  --basic-grey: #EEEEEE;
  --basic-lighter-grey: #E5E5E5;
  --basic-darker-grey: #666666;
  --basic-brown: #766357;
  --basic-darker-brown: #604E43;
  --basic-more-darker-brown: #503E33;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
  font-size: 14px;
  line-height: 26px;
  color: var(--basic-black);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

fieldset {
  border: none;
}

/*_____HEADER_____*/
.header {
  background-color: var(--basic-white);
}

.menu__list-item {
  font-weight: bold;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
  color: var(--basic-black);
}

.menu__list-item a:link {
  color: var(--basic-black);
}

/*_____MAIN_____*/
.welcome__sedona {
  background-image: url(../img/background_photo.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 1200px;
  min-height: 509px;
  /* тут скорее всего поменять на 100%*/
  text-align: center;
}

.welcome__sedona-info h2 {
  font-weight: bold;
  font-size: 21px;
  text-align: center;
  text-transform: uppercase;
}

.welcome__sedona-info p {
  text-align: center;
  text-transform: uppercase;
  color: var(--basic-lighter-black);
}

.reasons__list-item--background {
  background-color: var(--basic-blue);
}

.reasons__list-item--ranch {
  width: 800px;
  min-height: 256px;
  background-image: url(../img/background_photo_1.jpg);
}

.reasons__list-item--canyon {
  width: 800px;
  min-height: 256px;
  background-image: url(../img/background_photo_2.jpg);
}

.reasons__list-item h3{
  font-weight: bold;
  font-size: 21px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: var(--basic-white);
}


.reasons__list-item span,
.reasons__list-item p{
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: var(--basic-white);
}


li .reasons__sublist-item:first-child {
  background-image: url(../img/house.svg);
  background-repeat: no-repeat;
}

li .reasons__sublist-item:nth-child(2) {
  background-image: url(../img/food.svg);
  background-repeat: no-repeat;
}

li .reasons__sublist-item:last-child {
  background-image: url(../img/box.svg);
  background-repeat: no-repeat;
}
.reasons__sublist-item h4{
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: var(--basic-black);
}
.reasons__sublist-item p{
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: var(--basic-lighter-black);
}
.reasons__list-background--grey {
  background-color: var(--basic-grey);
}
.reasons__list-background--grey .reasons__list-item h3{
  color: var(--basic-black);
}
.reasons__list-background--grey .reasons__list-item span,
.reasons__list-background--grey .reasons__list-item p{
  color: var(--basic-lighter-black);
}
.form h2 {
  font-weight: bold;
  font-size: 30px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
}

.form p {
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  color: var(--basic-lighter-black);
}

.form__button-search {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  background-color: var(--basic-brown);
  text-align: center;
  color: var(--basic-white);
}
.form__button-search:hover{
  background-color: var(--basic-darker-brown);
}
.form__button-search:active{
  background-color: var(--basic-more-darker-brown);
  mix-blend-mode: normal;
  color: var(--basic-white);
  opacity: 0.3;
}
.form__sing-in-date,
.form__sing-out-date,
.form__button-less,
.form__button-more,
.form__input-adult,
.form__input-children {
  background-color: var(--basic-darker-white);
}

.form__text {
  font-weight: bold;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase
}

.form__button-find {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  background-color: var(--basic-blue);
  color: var(--basic-white);
}

.form__button-find:hover {
  background-color: var(--basic-darker-blue);
}

.form__button-find:active {
  background-color: var(--basic-more-darker-blue);
  mix-blend-mode: normal;
  opacity: 0.3;
}

/*_____FOOTER_____*/
.contacts span,
.contacts__phone-number a {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  color: var(--basic-black);
}

.social__twitter {
  background-image: url(../img/rest_twitter.svg);
  width: 46px;
  min-height: 48px;
}
.social__twitter:hover{
  background-image: url(../img/guidance_twitter.svg);
}
.social__twitter:active{
  background-image: url(../img/pressing_twitter.svg);
}
.social__facebook{
  background-image: url(../img/rest_facebook.svg);
  width: 46px;
  min-height: 48px;
}
.social__facebook:hover{
  background-image: url(../img/guidance_facebook.svg);
}
.social__facebook:active{
  background-image: url(../img/pressing_facebook.svg);
}
.social__youtube{
  background-image: url(../img/rest_youtube.svg);
  width: 46px;
  min-height: 48px;
}
.social__youtube:hover{
  background-image: url(../img/guidance_youtube.svg);
}
.social__youtube:active{
  background-image: url(../img/pressing_youtube.svg);
}
.develop__text {
  font-size: 14px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
}


.develop__htmlacademy-link {
  background-image: url(../img/logo-htmlacademy.svg);
  width: 115px;
  height: 41px;
}

.develop__htmlacademy-link:hover {
  background-image: url(../img/guidance-logo-htmlacademy.svg);
}

.develop__htmlacademy-link:active {
  background-image: url(../img/pressing-logo-htmlacademy.svg);
}

/*_____HOTELS_____*/
.selection {
  background-image: url(../img/background_hotels.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.selection__headline {
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  text-transform: uppercase;
  color: var(--basic-white);
}

.selection__text {
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: var(--basic-white);
}

.selection__result {
  border: 2px solid #FFFFFF;
  border-radius: 2px;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: var(--basic-white);
  background-image: none;
  background-color: transparent;
}

.sorting__find {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
}

.sorting__text {
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
}

.sorting__list-item a {
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-black);
  border-bottom: 1px dashed var(--basic-blue);
  mix-blend-mode: normal;
  opacity: 0.3;
}
.sorting__list-item a:hover{
  color: var(--basic-blue);
  border-bottom: 1px dashed var(--basic-blue);
  mix-blend-mode: normal;
  opacity: 0.3;
}
.sorting__list-item a:active{
  color: var(--basic-black);
  border-bottom: none;
  opacity: 1;
  }
.sorting__ul-li--upper-triangle{
  background-image: url(../img/rest_up.svg);
  width: 11px;
  height: 10px;
}
.sorting__ul-li--upper-triangle:hover{
  background-image: url(../img/guidance_up.svg);
  
}
.sorting__ul-li--upper-triangle:active{
  background-image: url(../img/pressing_up.svg);
  width: 11px;
  height: 10px;
}
.sorting__ul-li--lower-triangle{
  background-image: url(../img/rest_down.svg);
  width: 11px;
  height: 10px;
}
.sorting__ul-li--lower-triangle:hover{
  background-image: url(../img/guidance_down.svg);
}
.sorting__ul-li--lower-triangle:active{
  background-image: url(../img/pressing_down.svg);
}

.buildings__list-item h3{
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
}

.buildings__list-item span {
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
}

.details__link a{
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: var(--basic-white);
  background-color: var(--basic-blue);
}

.book__now-link a{
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: var(--basic-white);
  background-color: var(--basic-brown);
}

.stars__rating {
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: var(--basic-darker-grey);
  background-color: var(--basic-darker-white);
}
