html {
  box-sizing: border-box;
}

:root {
  --basic-white: #FFFFFF;
  --basic-darker-white: #F2F2F2;
  --basic-more-darker-whire: #EBEBEB;
  --basic-blue: #81B3D2;
  --basic-darker-blue: #669EC0;
  --basic-more-darker-blue: #5496BD;
  --basic-black: #000000;
  --basic-lighter-black: #333333;
  --basic-grey: #EEEEEE;
  --basic-lighter-grey: #E5E5E5;
  --basic-darker-grey: #666666;
  --basic-brown: #766357;
  --basic-darker-brown: #604E43;
  --basic-more-darker-brown: #503E33;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
  font-size: 14px;
  line-height: 26px;
  color: var(--basic-black);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

fieldset {
  border: none;
}

/*_____HEADER_____*/
.header {
  text-align: center;
  background-color: var(--basic-white);
}

.menu__list-item {
  font-weight: bold;
  font-size: 14px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: var(--basic-black);
}
.menu__list-item a:link{
  color: var(--basic-black);
}

/*_____MAIN_____*/
.welcome__sedona {
  background-image: url(../img/main_background.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 509px;
  /* тут скорее всего поменять на 100%*/
  text-align: center;
}

.text__sedona-welcome {
  font-weight: bold;
  font-size: 21px;
  text-align: center;
  text-transform: uppercase;
}

.text__reasons {
  text-align: center;
  text-transform: uppercase;
  color: var(--basic-lighter-black);
}

.background__reason {
  background-color: var(--basic-blue);
}

.reason__img1 {
  width: 800px;
  height: 256px;
  background-image: url(../img/background_photo_1.jpg);
}

.reason__img2 {
  width: 800px;
  height: 256px;
  background-image: url(../img/background_photo_2.jpg);
}

.reason__name-color {
  color: var(--basic-white);
}

.reason__name {
  font-weight: bold;
  font-size: 21px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
}

.reason__text {
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
}
li .reasons__list-item:first-child{
  background-image: url(../img/house.svg);
  background-repeat: no-repeat;
}
li .reasons__list-item:nth-child(2){
  background-image: url(../img/food.svg);
  background-repeat: no-repeat;
}
li .reasons__list-item:last-child{
  background-image: url(../img/box.svg);
  background-repeat: no-repeat;
}
.background__color-item {
  background-color: var(--basic-grey);
}

.before__form-question {
  font-weight: bold;
  font-size: 30px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
}

.before__form-text {
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  color: var(--basic-lighter-black);
}

.search {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  background-color: var(--basic-brown);
  text-align: center;
  color: var(--basic-white);
}

.sing__in-date,
.sing__out-date,
.button__less,
.button__more,
.input__adult,
.input__children {
  background-color: var(--basic-darker-white);
}

.form__text {
  font-weight: bold;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase
}

.button__search {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  background-color: var(--basic-blue);
  color: var(--basic-white);
}
.button__search:hover{
  background-color: var(--basic-darker-blue);
}
.button__search:active{
  background-color: var(--basic-more-darker-blue);
  mix-blend-mode: normal;
  opacity: 0.3;
}

/*_____FOOTER_____*/
.contacts {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
}

.social__list-item {
  background-color: var(--basic-blue);
  width: 46px;
  height: 48px;
}

.develop__text {
  font-size: 14px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
}
.social__list-item:hover{
  background-color: var(--basic-darker-blue);
}
.social__list-item:active{
  background-color: var(--basic-more-darker-blue);
}
.develop__htmlacademy-link{
  background-image: url(../img/logo-htmlacademy.svg);
  width: 115px;
  height: 41px;
}
.develop__htmlacademy-link:hover{
  background-image: url(../img/guidance-logo-htmlacademy.svg);
  }
.develop__htmlacademy-link:active{
  background-image: url(../img/pressing-logo-htmlacademy.svg);
}

/*_____HOTELS_____*/
.menu__selection {
  background-image: url(../img/background_hotels.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.headline {
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  text-transform: uppercase;
  color: var(--basic-white);
}

.menu__selection-text {
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: var(--basic-white);
}

.show__result {
  border: 2px solid #FFFFFF;
  border-radius: 2px;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: var(--basic-white);
  background-image: none;
  background-color: transparent;
}

.find__text {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
}

.sort__text {
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
}

a.sort__link {
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-black);
  border-bottom: 1px dashed var(--basic-blue);
  mix-blend-mode: normal;
  opacity: 0.3;
}

.frontire {
  height: 1px;
  background-color: var(--basic-lighter-grey);
}

.building__name {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
}

.output__text {
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
}

.details__link {
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: var(--basic-white);
  background-color: var(--basic-blue);
}

.book__now-link {
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: var(--basic-white);
  background-color: var(--basic-brown);
}

.rating {
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: var(--basic-darker-grey);
  background-color: var(--basic-darker-white);
}
